{% load static %}
<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.6/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">

</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        {% block content %}
        {% endblock content %}

    </div>
    {% include 'footer.html' %}

    {% block scripts %}
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.6/js/bootstrap.min.js' %}"></script>
    {% endblock scripts %}

</body>





</html>